{% extends "layouts/auth_base.html" %} 
{% load crispy_forms_tags %} 
{% load static %} 
{% block css_link %}
<!-- <link rel="stylesheet" href="{% static 'users/main.css' %}"> -->
{% endblock %} {% block content %}
<div class="w-screen mt-20 mb-10">
<div class="flex justify-center items-center bg-gray-100  sm:w-4/12 mx-auto p-5 rounded-xl">
        <form method="POST" class="w-2/3">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend
              class="text-center text-2xl font-bold mb-10"
            >
              Sign Up
            </legend>
            {{ form|crispy }}
          </fieldset>
          <div class="flex justify-center my-5">
            <button class="bg-black hover:bg-indigo-500 py-2 px-5 text-white font-bold text-xl rounded-xl" type="submit">Sign up</button>
          </div>
        </form>
</div>
</div>

{% endblock content %}