{% extends "layouts/user_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css_link %}
<style>

</style>
{% endblock %}

{% block content %}

  <main>
      <section class="max-w-6xl mx-auto my-20 font-outfit">
        <div
          class="flex items-center gap-3 bg-indigo-500 rounded-lg p-2 mt-20 w-2/3 mx-auto"
        >
          <div class="flex flex-col w-full">
            <div class="grid grid-cols-2 gap-3">
              <div class="flex items-center gap-2">
                <img src="{% static 'icons/complaint.svg' %}" class="h-8 w-8" alt="" />
                <h3 class="text-white sm:text-xl text-sm font-bold">
                  {{complaint.title}}
                </h3>
                <div class="pl-5">
                {% if complaint.status == 1 %}
                  <h4
                    class="text-orange-600 font-bold text-sm hover:scale-105 transition-transform duration-500 cursor-pointer bg-gray-50 py-1.5 px-2 rounded-xl"
                  >
                    PENDING
                  </h4>
                {% else %}
                 <h4
                    class="text-orange-600 font-bold text-sm hover:scale-105 transition-transform duration-500 cursor-pointer bg-gray-50 py-1.5 px-2 rounded-xl"
                  >
                    COMPLETED
                  </h4>
                {% endif %}
                
                </div>
              </div>
              <div>
                <h2
                  class="text-white sm:text-lg hidden sm:block font-semibold text-right pr-2"
                >
                  {{complaint.date_posted}}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-10 bg-gray-50 w-2/3 mx-auto p-5 rounded-xl">
          <h1 class="text-lg font-semibold">Description</h1>
          <p class="w-10/12 mt-5 text-gray-600">
            {{complaint.details}}
          </p>
        </div>
      </section>
    </main>

{% endblock content %}