{% extends "layouts/user_base.html" %}
{% load static %}
{% block css_link %}
{% endblock %}

{% block content %}
 <main>
      <section class="max-w-6xl mx-auto font-outfit">
        <div class="flex justify-center pt-24">
          <div class="grid sm:grid-cols-3 grid-cols-1 justify-center gap-5">
            {% for c in complaints %}
  <div class="flex flex-col gap-8 bg-gray-100 rounded-xl p-5">
              <div class="grid grid-cols-2">
                <span class="status text-left text-orange-500 font-bold"
                  >PENDING</span
                >
                <span class="date text-right ">{{c.date_posted}}</span>
              </div>
              <div class="flex justify-center">
                <h1 class="text-2xl font-semibold">{{c.title}}</h1>
              </div>
              <div class="text-gray-700 mx-5">
                {{c.details|truncatechars:30}}
              </div>
              <div class="flex justify-center my-5">
                <a
                  class="transition-transform hover:scale-105 duration-500 rounded-md hover:bg-indigo-700 bg-gray-900 px-5 py-2.5 text-sm font-bold text-white"
                  href="/complaints/{{c.id}}"
                >
                  Read more
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="flex justify-center pt-20">
          <div class="inline-flex justify-center gap-1">
            <a
              href="/?page=1"
              class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-3 w-3"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>

            <input
              title="left"
              type="number"
              class="w-12 rounded border border-gray-100 p-0 text-center text-xs font-medium [-moz-appearance:_textfield] [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none"
              min="1"
              value="2"
            />

            <a
              href="/?page=3"
              class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-3 w-3"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
      </section>
    </main>

    {% endblock content %}